.header {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  justify-content: space-between;
  align-items: center;
  min-height: 68px;
  border-bottom: 1px solid #ccc;
  z-index: 100;
  background-color: #fff;
}

.header a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header__logo {
  flex-grow: 2;
  text-align: left;
}

.header__nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 8;
}

.header__nav-menu__link {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  margin: 10px 20px;
}
.header__cart-container {
  position: relative;
  justify-self: end;
}
.header__cart-button {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  transition: ease 0.5s;
  width: 100px;
  letter-spacing: 1px;
  cursor: pointer;
}

.header__cart-button__text {
  padding: 5px 0px;
}

.header__cart-button__text__open {
  border-bottom: 1px solid #888;
}

.header__cart-button__text:hover {
  border-bottom: 1px solid #888;
}

.header__my-cart__underlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 1900;
}
