.cart {
  width: 70vw;
  margin: auto;
}

.cart__background {
  background-color: #f6f6f6;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  left: 0;
  top: 0;
}

.cart__title {
  width: 100%;
  text-align: center;
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 40px;
  padding: 60px 0px;
}

.cart__main {
  background-color: white;
  padding: 40px 40px;
}

.cart__grid__entry {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  width: 100%;
  justify-items: start;
  border-bottom: 1px solid #ccc;
  padding: 20px 0px 40px 0px;
}

.cart__grid__total {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 14px;
  margin: 10px;
  color: #888;
  text-align: right;
  justify-self: center;
  transform-origin: top -40px;
}

.cart__grid__remove {
  font-size: 50px;
  margin: -10px 0px 0px 0px;
  color: #888;
  text-align: right;
  justify-self: end;
  font-weight: 100;
  cursor: pointer;
}

.cart__grid__header__label {
  text-transform: uppercase;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
  color: #888;
  margin: 10px 0px;
}

.right-align {
  justify-self: end;
  text-align: right;
}

.center-align {
  justify-self: center;
  text-align: center;
}

.cart__product-data {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  min-height: 85px;
  margin: 10px 0px;
}

.cart__product-data__image {
  height: 85px;
  width: 85px;
  min-width: 85px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cart__product-data__data {
  margin-left: 20px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.cart__product-data__brand {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 10px;
  padding-bottom: 5px;
  color: #999;
}

.cart__product-data__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  padding-bottom: 5px;
}

.cart__quantity__grid {
  display: grid;
  margin: auto;
  width: auto;
  grid-template-columns: 50px 25px;
  grid-template-rows: 25px 25px;
  grid-gap: 2px 2px;
  grid-template-areas:
    'quantity plus'
    'quantity minus';
  justify-items: center;
  align-items: center;
  justify-self: center;
  margin: 10px;
}

.cart__quantity__value {
  grid-area: quantity;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eee;
  width: 100%;
  height: 100%;
  color: #888;
  cursor: default;
}

.cart__quantity__plus {
  grid-area: plus;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ddd;
  font-weight: bold;
  width: 100%;
  height: 100%;
  color: #888;
  cursor: pointer;
}

.cart__quantity__minus {
  grid-area: minus;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ddd;
  font-weight: bold;
  width: 100%;
  height: 100%;
  color: #888;
  cursor: pointer;
}

.cart__overview {
  text-align: left;
  text-transform: uppercase;
  color: #888;
  padding: 40px 0px 40px 60%;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  letter-spacing: 1.5px;
}

.cart__overview__label {
  padding: 10px 0px;
}

.cart__overview__subtotal {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.cart__overview__total {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.cart__overview__total__value {
  color: #444;
}

.cart__buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 10px;
  color: #888;
}

.cart__buttons__continue-shopping {
  text-decoration: underline;
  padding-bottom: 5px;
  cursor: pointer;
}

.cart__buttons__continue-shopping:hover {
  text-decoration: none;
}

.cart__buttons__checkout {
  color: #fff;
  background-color: #000;
  padding: 20px 40px;
  cursor: pointer;
}
